<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Docker App</title>
</head>

<body>
  <h1>Hello Admin</h1>
  <h2>Add a photo</h2>
  <form method="post" action="/item/add">
    <label for="format">Format</label>
    <input type="text" name="format">
    

    <label for="imgSize">Image Size</label>
    <input type="text" name="imgSize">
    

    <label for="orientation">Orientation</label>
    <input type="text" name="orientation">
    

    <label for="focalLength">Focal Length</label>
    <input type="text" name="focalLength">
    

    <label for="Exposure">Exposure</label>
    <input type="text" name="Exposure">
    

    <label for="location">Location</label>
    <input type="text" name="location">
    

    <label for="date">Date and Time</label>
    <input type="text" name="date">

    <input type="submit" value="Add">
  </form>
  <h4>Items:</h4>
  <ul>
    <% items.forEach(function(item) { %>
      <li>
        <%= item.date1%>
        <%= item.format%>
        <%= item.imgSize%>
        <%= item.orientation%>
        <%= item.focalLength%>
        <%= item.Exposure%>
        <%= item.location%>
        <%= item.date%>
      </li>
      <% }); %>
  </ul>
</body>

</html>